# ==============================
# Java / Spring Boot
# ==============================

backend/target/
backend/.mvn/
*.class

# Spring Boot local configuration
backend/src/main/resources/application-local.properties
backend/src/main/resources/application-local.yml
backend/src/main/resources/application.properties

# ==============================
# Node / React / Vite
# ==============================

frontend/node_modules/
frontend/dist/
frontend/.vite/

# Backend environment files
backend/.env
backend/.env.*
!backend/.env.example

# Environment files
frontend/.env
frontend/.env.*
!frontend/.env.example

# ==============================
# IDE
# ==============================

.idea/
*.iml
.vscode/

# ==============================
# OS
# ==============================

.DS_Store
Thumbs.db

# ==============================
# Logs
# ==============================

*.log

# ==============================
# Temporary files
# ==============================

*.tmp
*.temp