spring.application.name=renstant

# PostgreSQL Database
spring.datasource.url=jdbc:postgresql://localhost:5432/renstant_db
spring.datasource.username=postgres
spring.datasource.password=YOUR_DATABASE_PASSWORD

# JPA / Hibernate
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

# JWT
jwt.secret=${JWT_SECRET}
jwt.expiration=86400000